* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

  line-height: 1.5;
}

.page-navigation ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.logo,
.section-title,
.section-subtitle {
  padding-bottom: 20px;
}

.section-title {
  text-align: center;
  text-transform: uppercase;

  padding-top: 5rem;
}

.section-subtitle {
  padding-top: 20px;

  text-transform: capitalize;
}

section,
header {
  border-top: 4px solid rgb(17, 17, 56);
  padding: 20px;
}

header,
footer {
  padding: 20px;
}

header {
  height: 100px;
}

.black-text {
  color: black;
}

.underlined-text {
  text-decoration: underline black;
}

.same-background {
  background-color: #76ddd3;
}

.main-header {
  display: grid;

  grid-template-columns: 1fr auto;
}

.logo {
  font-size: 1.5rem;

  color: white;
}

.nav-item {
  margin: 10px;
  padding: 10px;

  text-align: center;

  background-color: white;
  border-radius: 5px;
}

.nav-item a {
  font-weight: bold;

  color: #76ddd3;
}

.three-column-grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
}

.center {
  max-width: 65ch;

  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

#about-me,
#portfolio,
#experience {
  min-height: 100vh;
}

#landing-section {
  min-height: calc(100vh - 108px);

  display: grid;
  place-items: center;

  border: none;
}

#landing-section .section-title {
  font-size: 6rem;
  text-transform: capitalize;
  text-align: start;
  color: white;
}

#landing-section .short-intro {
  text-align: justify;
  font-weight: bold;

  font-size: 1rem;
  color: white;
}

.two-column-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.indented {
  padding-left: 20px;
}

.separate-section {
  margin-top: 4rem;
}

.footer {
  background-color: rgb(17, 17, 56);
  color: white;
}
